body, html {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #296FFF;
}

.font {
    font-family: 'Chivo', sans-serif;
    text-transform: capitalize;
    color: black;
    text-align: center;
    font-size: 20px;
    
    margin: 0 auto 0 auto;
}

.header {
    width: 100%;

    height: 80px;
    background-color: #296CDB;
    
}

.header-font {
    font-size: 36px;
    position: relative;
    top: 20px;
}

.gallery {
    z-index: 1;
    --numberOfItems: 0;
    --indexOfSelectedItem: 0;
    
    transform: translate(calc(var(--indexOfSelectedItem)/var(--numberOfItems)*-100%));
    transition: 1s ease-in-out;
    
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    
    width: calc(var(--numberOfItems)*220px); /*elemnt width*/
    position: relative;
    left: calc(50% - 110px);
    max-height: 100%;
}

.gallery-item {
    background-color: rgb(25, 122, 28);
    flex: none;
    z-index: 3;
    
    width: 200px;
    height: 200px;
    margin: 0px 10px;
    border-radius: 40px;
    
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.positive {
    background-color: rgb(25, 122, 28);
}

.negative {
    background-color: darkred;
}

.gallery-item-day {
    z-index: 4;
    flex: none;
    
    width: 150px;
    height: 100px;

    font-size: 100px;
}

.gallery-item-month {
    z-index: 4;
    flex: none;
    
    width: 150px;
    height: 20px;
}

.gallery-item-year {
    z-index: 4;
    flex: none;
    
    width: 150px;
    height: 20px;
}

.button {
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    background-image: none;

    z-index: 1000;
    background-color: #4285f4;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: none;
    font-size: 20px;

}

.button::-moz-focus-inner {
    border: 0;
}

.button:active {
    background-color: #0039A8;
}

#L {
    position: relative;
    left: 10%;
    top: 230px;
}

#P {
    position: relative;
    left: calc(77% - 40px);
    top: 230px;
}

